@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
  @apply flex min-h-screen flex-col  justify-between max-w-5xl m-auto;
}
.nav {
  @apply flex justify-between h-12 shadow-md items-center px-4;
}
.card {
  @apply mb-5 block rounded-lg border-gray-200 shadow-md bg-white;
}
.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-600;
}
.badge-overlay {
  @apply inline-flex absolute top-0 right-[0px] md:right-[-10px] justify-center items-center w-5 h-5 md:w-6 md:h-6 text-[8px] md:text-xs font-bold text-white bg-red-500 rounded-full border-2 border-white dark:border-gray-900;
}
.auth-btn {
  @apply py-[15px] active:text-blue-900 active:font-bold text-[16px] active:border active:border-b-4 active:border-blue-800;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: black;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  word-break: break-all;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;

  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}